/* @import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&family=Single+Day&display=swap"); */

/* Styles for elements using the 'Single Day' font */
.single-day-regular {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Container for the entire app */
.valentine-container {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  padding: 20px; /* Add some space inside the container */
  background-color: #5876a1;
  min-height: 100vh; /* Ensure container fills at least the full height of the viewport */
  text-align: center; /* Center text for all child elements */
  font-family: "Protest Revolution", sans-serif; /* Apply default font */
  font-size: 50px;
}

/* Base styles for all buttons */
.yesButton,
.noButton,
.goBackButton {
  cursor: pointer; /* Change cursor to pointer to indicate clickable items */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners for the buttons */
  padding: 10px 20px; /* Space inside the buttons */
  margin: 10px; /* Space outside the buttons */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  font-size: 20px; /* Increase font size for better visibility */
  font-family: "Protest Riot", sans-serif; /* Optionally apply a specific font to buttons */
}

/* Specific styles for the 'Yes' button */
.yesButton {
  background-color: #ffcccc; /* Light red background */
  color: #ffffff; /* White text */
}

/* Specific styles for the 'No' button */
.noButton {
  background-color: #ccccff; /* Light blue background */
  color: #ffffff; /* White text */
}

/* Specific styles for the 'Go Back' button */
.goBackButton {
  background-color: #cccccc; /* Medium gray background */
  color: #333333; /* Dark gray text */
}

/* Hover effect for the 'Yes' button */
.yesButton:hover {
  background-color: #ff9999; /* Darker red background on hover */
}

/* Hover effect for the 'No' button */
.noButton:hover {
  background-color: #9999ff; /* Darker blue background on hover */
}

/* Hover effect for the 'Go Back' button */
.goBackButton:hover {
  background-color: #aaaaaa; /* Darker gray background on hover */
}
